<div class="section about" id="about">

  <div class="container">
    <div class="arrow 01">
      <img src="/assets/arrow/arrow_01.png" alt="arrow_01" />
    </div> 
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        about <span>¿Quienes somos? Pase, tomese un café con nosotros...</span>
      </div>
      <div class="subheader-separator"></div>
    </div>         
    <div class="column-455 m-right-70 m-top-50">
      <div class="m-bottom-40 summary">
        Creamos para la gente y por la gente.
      </div>
      <div class="m-bottom-40 summary-small">
        Somos un pequeño grupo creativo que concibe la web desde otro punto de vista: debe ser limpia, amistosa, concisa, portable, gráficamente de detalles muy cuidados y con textos impecables para cualquiera de los casos más comunes: <i style="font-size: 22px;">Web para ser vista, Web para ser leída y Web para ser usada.</i>
      </div>
      <p>
        Actualmente aplicamos estos criterios para todos y cada unos de los trabajos que desarrollamos, teniendo como un punto de partida, la elaboración de proyectos centrados en sus usuarios y en la experiencia que viven al utilizar nuestras creaciones. Todo nuestro proceso creativo y de diseño comienzan allí, en identificar al usuario final para el cual elaboraremos el producto. Trabajamos para satisfacer las necesidades de los usuarios de nuestros clientes y con ello garantizar el éxito total su producto. 
      </p>
    </div>
    <div class="column-455  m-top-50">
      <img src="/assets/about/about_image.png" class="m-bottom-50" alt="image_01"/>
      <p>
        Tenemos varios años de experiencia en el trabajo creativo sobre Internet, certificados con premios, titulos y opiniones, pero quizas lo mas importa es que <i style="font-size: 22px;">¡sabemos como hacerlo a tiempo!</i>
      </p>
      <!--p>
        Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
      </p--->
    </div>
    <div class="clear"></div>
  </div>

</div>
