<div class="section about" id="about">

  <div class="container">
    <div class="arrow 01">
      <img src="/assets/arrow/arrow_01.png" alt="arrow_01" />
    </div> 
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        alphadeville <!--span></span-->       
      </div>
      <div class="subheader-text-recipe pull-right">
        Receta del Martini clásico: 5,5 cl Ginebra o vodka para el Vodka Martini. 1,5 cl Vermú seco [1/5]         
      </div>
      <br/>
      <%= tweet_anchor("Receta del Martini clásico: 5,5 cl Ginebra o vodka para el Vodka Martini. 1,5 cl Vermú seco [1/5]") %>
      <div class="subheader-separator"></div>
    </div>         
    <div class="column-455 m-right-70 m-top-50">
      <div class="m-bottom-40 summary">
        Cualquier cosa que usted pueda imaginar (siempre que sea legal) la podemos hacer...
      </div>
      <div class="m-bottom-40 summary-small">
        Somos un pequeño grupo creativo (y detectives amateurs) que concibe la web desde sus <b>aspectos más importantes</b>: La web debe ser limpia, amistosa, concisa, portable, gráficamente de detalles muy cuidados y con textos impecables para cualquiera de sus funciones más comunes: <i style="font-size: 22px;">Web para ser vista, Web para ser leída y Web para ser usada.</i>
      </div>
      <p>
        Actualmente, aplicamos estos criterios para todos y cada uno de los trabajos que desarrollamos, teniendo como punto de partida, la elaboración de proyectos centrados en el usuario y en su experiencia como tal. Nuestro proceso creativo y de diseño comienza allí, en elaborar un perfil del tipo de usuario de cada cliente, quien nos guiará exitosamente hasta la elaboración del producto final.  
      </p>
    </div>
    <div class="column-455  m-top-50">
      <img src="/assets/about/about_image.png" class="m-bottom-50" alt="image_01"/>
      <p>Contamos con varios años de experiencia haciendo trabajos creativos dentro y fuera de Internet, certificados con premios, títulos y opiniones, pero quizá lo más importante es que <i style="font-size: 22px;">¡sabemos como hacerlo a tiempo!</i>.
      </p>
      <!--p>
        Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
      </p--->
    </div>
    <div class="clear"></div>
  </div>

</div>
