<div class="section contact-us" id="contact-us">

  <div class="container">
    <div class="arrow 05">
      <img src="/assets/arrow/arrow_05.png" alt="arrow_06" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        contact <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Y muy importante: agitar más no revolver el Martini [5/5]        
      </div>
      <br/>
      <div class="tweet-btn pull-right">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="alphadeville" data-text="Martini clásico: Y muy importante: agitar más no revolver el Martini [5/5]" data-lang="en" data-count="none">Tweet</a>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-340  m-top-50 m-right-115 contact-form contact-us-x">
      <div class="column-340">
        <div class="summary m-bottom-40">
          Escribanos
        </div>
        <!--p class="m-bottom-22">Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere...</p-->
      </div>
      <div class="clear"></div>    
      
      <form id="contact-form">        
  
        <label for="name">Tu E-mail *</label>
        <input type="text" id="user_email" class="rounded" name="user[email]" />
        
        <label for="name">Tu Mensaje *</label>
        <textarea id="user_message" cols="35" rows="7" class="rounded" name="user[message]"></textarea>
        
        <label for="name">Confirma el envio *</label>
        <%= recaptcha_tags %>

        <a id="submit-mail" class="submit-btn rounded" href="<%= send_mail_path %>">SEND</a>

      </form>

    </div>
    <div class="column-525 m-top-50">
      <div class="summary m-bottom-40">
        Nullam dictum felis eu pede mollis pretium. Integer tinci...
      </div>
      <p class="m-bottom-22">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere doloremque este laudantium ed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      </p> 
      <p>
        Name of the street 123/4
        <br />
        Name of City
        <br />
        Venezuela
      </p>
      <p>
        Phone: +321 123 456 7
        <br />
        Fax: +321 123 456 7
        <br />
        E-mail: alphadeville@gmail.com
        <br />
        Website: alphadeville.com
      </p>
      <div class="socio_contact m-top-50">
        <ul>
          <li><a href="http://www.twitter.com/alphadeville" target="_new" class="socio_contact_twitter"></a></li>
          <li><a href="http://www.facebook.com/alphadeville" target="_new" class="socio_contact_facebook"></a></li>
          <li><a href="https://github.com/organizations/alphadeville" target="_new" class="socio_contact_github"></a></li>                    
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  
</div>