<div class="section contact-us" id="contact-us">

  <div class="container">
    <div class="arrow 05">
      <img src="/assets/arrow/arrow_05.png" alt="arrow_06" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        contacto <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Y muy importante: agitar más no revolver el Martini [5/5]        
      </div>
      <br/>
      <%= tweet_anchor("Martini clásico: Y muy importante: agitar más no revolver el Martini [5/5]") %>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-340  m-top-50 m-right-115 contact-form contact-us-x">
      <div class="column-340">
        <div class="summary m-bottom-40">
          Escribenos
        </div>
        <!--p class="m-bottom-22">Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere...</p-->
      </div>
      <div class="clear"></div>    
      
      <form id="contact-form">        
  
        <label for="name">Tu E-mail *</label>
        <input type="text" id="user_email" class="rounded" name="user[email]" />
        
        <label for="name">Tu Mensaje *</label>
        <textarea id="user_message" cols="35" rows="7" class="rounded" name="user[message]"></textarea>
        
        <label for="name">Confirma el envio *</label>
        <%= recaptcha_tags %>

        <a id="submit-mail" class="submit-btn rounded" href="<%= send_mail_path %>">SEND</a>

      </form>

    </div>
    <div class="column-525 m-top-50 center-text">
      
      <img src="/assets/footer/footer_logo.png"/>

      <div class="summary m-bottom-40" style="margin-bottom: 20px;">
        Otros medios
      </div>
      <br>
      <!--p class="m-bottom-22">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatema accusantium terre estere doloremque este laudantium ed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      </p--> 

      <p>       
        <a href="mailto:alphadeville@gmail.com?Subject=" class="glow-me" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 36px;font-style: italic;">alphadeville@gmail.com</a>
      </p>
      <br>
      
      <p>       
        <a href="http://www.twitter.com/alphadeville" target="_new" class="glow-me" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 36px;font-style: italic;">twitter</a> 
        <br><br>
        <a href="http://www.facebook.com/alphadeville" target="_new" class="glow-me" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 36px;font-style: italic;">facebook</a>
        <br><br>
        <a href="https://github.com/alphadeville" target="_new" class="glow-me" style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: 36px;font-style: italic;">github</a>
      </p>     

    </div>
    <div class="clear"></div>
  </div>
  
</div>
