<div class="section services" id="services">
  
  <div class="container">
    <div class="arrow 02">
      <img src="/assets/arrow/arrow_02.png" alt="arrow_02" />
    </div> 
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        kung fu <span>What We Do. Our List Of Services.</span>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        We are a small group of seti per se neque porro quisquam est, quister set dolorem per sei donec nulla est...            
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt...
      </p>
    </div>
    <div class="clear"></div>
    <div class="column-455 m-right-70 m-top-70">
      <img src="/assets/services/services_image.png" alt="image_02" />
    </div>
    <div class="column-455 m-top-70">
      <ul class="services-list">
        <li>
          <img src="/assets/services/services_icon_01.png" alt="icon_01" />
          <span class="service-title">WEB DESIGN</span>
          <p>
            Nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi. Aenean imperdiet. Etiam ultricies nisi vel...
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_02.png" alt="icon_02" />
          <span class="service-title">DATABASE</span>
          <p>
            Sit dolor amet, fringilla vel, aliquetese nec vulputate eget, arcu. In enim justo, rhoncuse ut imperdiet a, venenatis vitae, justo.
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_03.png" alt="icon_03" />
          <span class="service-title">Always On Time</span>
          <p>
            Donec justo, fringilla vel, aliquetese nec vulputate eget, arcu. In enim justo, rhoncuse ut imperdiet a, venenatis vitae, lorem ipsum.
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_04.png" alt="icon_04" />
          <span class="service-title">Photography</span>
          <p>
            Justo, fringilla vel, aliquetese nec vulputate eget, arcu. In enim justo, rhoncuse ut imperdiet a, venenatis vitae, justo donec.
          </p>
        </li>
      </ul>
    </div>
  </div>

</div>
