<div class="section services" id="services">
  
  <div class="container">
    <div class="arrow 02">
      <img src="/assets/arrow/arrow_02.png" alt="arrow_02" />
    </div> 
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        services <span>¿Que hacemos? Ahora con ese café seguro le provoca unas galletas... </span>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Una taza de arte y ciencia. Computación, diseño gráfico y literatura.
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <!--p>
        Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt...
      </p-->
    </div>
    <div class="clear"></div>
    <div class="column-455 m-right-70 m-top-70">
      <img src="/assets/services/services_image.png" alt="image_02" />
    </div>
    <div class="column-455 m-top-70">
      <ul class="services-list">
        <li>
          <img src="/assets/services/services_icon_01.png" alt="icon_01" />
          <span class="service-title">WEB PAGES AND SOCIAL MEDIA</span>
          <p>
            Experiencia comprobable por más de 10 años en distintos proyectos de todas las dimensiones. <b>Conocemos, creamos, innovamos, estilizamos y adaptamos su presencia en la web</b> para toda su red de usuarios, y si tambien lo requiere <i>- actualmente casi por obligación -</i> configuramos, programamos y mantenemos su <b>perfil en las redes sociales</b> y la integración con su página web oficial. 
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_02.png" alt="icon_02" />
          <span class="service-title">GRAPHIC DESIGN</span>
          <p>
            Desarrollamos con total competencia <b>proyectos en diversas ramas del diseño gráfico</b>. Nuestros proyectos garantizan la máxima coherencia entre la forma diseñada y lo que se pretende representar, pues nuestro criterio de partida es el de creer que un buen concepto es el origen de un buen diseño. 
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_04.png" alt="icon_04" />
          <span class="service-title">WEB AND MOBILE APPLICATIONS</span>
          <p>
            Mas que una presencia en la web, ofrecemos asesoría para hacer lo que sea en Internet, cualquier cosa que pueda imaginar <i>- pero que sea legal ;) -</i>. <b>Ingenieria aplicada al diseño, desarrollo y mantenimiento de herramientas informáticas especiales</b>, desde ideas innovadoras para competir en Sillicon Valley, hasta el gag mas inutil que se le haya ocurrido mientras se tomaba un café en unas vacaciones.
          </p>
        </li>

        <li>
          <img src="/assets/services/services_icon_03.png" alt="icon_03" />
          <span class="service-title">ADVISORY AND CONSULTING</span>
          <p>
            <b>* Edición de textos para la web:</b> No cualquier texto sirve para la web por lo que para su correcta presentación se requiere la implementación de varios criterios tanto estéticos como de contenido. Una página puede verse muy bien pero si los textos son deficientes, probablemente no rinda todo lo que debería rendir.  
            <br/>
            <b>* Corte, secado, pedicure y manicure para su imagen gráfica:</b> Sin necesidad de cambiar su marca o producto, podemos revisar y evaluar cuáles serían las mejores formas para usarla y obtener de ella los mejores resultados.
          </p>
        </li>        
      </ul>
    </div>
  </div>

</div>
