<div class="section services" id="services">
  
  <div class="container">
    <div class="arrow 02">
      <img src="/assets/arrow/arrow_02.png" alt="arrow_02" />
    </div> 
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        servicios <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Los ingredientes se añaden en un vaso de mezclar con cubitos de hielo, y deben removerse bien [2/5]        
      </div>
      <br/>
      <%= tweet_anchor("Martini clásico: Los ingredientes se añaden en un vaso de mezclar con cubitos de hielo, y deben removerse bien [2/5]") %>
      <div class="subheader-separator"></div>
    </div> 
    <!--div class="column-640 m-top-50">
      <div class="summary">
        Una taza de arte y ciencia. Computación, diseño gráfico y literatura.
      </div>
    </div-->
    <!--div class="column-300 m-left-40 m-top-50">
      <p>
        Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt...
      </p>
    </div-->
    <div class="clear"></div>
    <div class="column-455 m-right-70 m-top-70">
      <img src="/assets/services/services_image.png" alt="image_02" style="width: 510px;"/>
    </div>
    <div class="column-455 m-top-70">
      <ul class="services-list">
        <li>
          <img src="/assets/services/services_icon_01.png" alt="icon_01" />
          <span class="service-title">WEB</span>
          <p>
            Desde la elaboración desde 0 hasta la auditoría de proyectos que ya viven en internet. Reconocida experiencia en el uso de redes sociales.
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_02.png" alt="icon_02" />
          <span class="service-title">Diseño gráfico</span>
          <p>
            Podemos abordar proyectos gráficos en todas las áreas del diseño: web, multimedia, impreso,  etc. ¿Una idea abstracta? sabemos cómo crearla. 
          </p>
        </li>
        <li>
          <img src="/assets/services/services_icon_04.png" alt="icon_04" />
          <span class="service-title">Aplicaciones web</span>
          <p>
            Nuestros productos son responsivos para cualquier resolución de pantalla pero también desarrollamos aplicaciones para teléfonos Android en lenguaje nativo.
          </p>
        </li>

        <li>
          <img src="/assets/services/services_icon_03.png" alt="icon_03" />
          <span class="service-title">Asesoría y consulta</span>
          <p>
            Integramos sistemas. Corregimos y adecuamos textos para la web y hacemos Ebooks.
          </p>
        </li>        
      </ul>
    </div>
  </div>

</div>
