<div class="section showcase" id="showcase">

  <div class="container">
    <div class="arrow 03">
      <img src="/assets/arrow/arrow_03.png" alt="arrow_03" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        showcase <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Se sirve sin hielo, en una copa de cóctel enfriada [3/5]        
      </div>
      <br/>
      <div class="tweet-btn pull-right">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="alphadeville" data-text="Martini clásico: Se sirve sin hielo, en una copa de cóctel enfriada [3/5]" data-lang="en" data-count="none">Tweet</a>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Nuestras creaciones, trabajos, ideas y herramientas...
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Historial de nuestros casos resueltos dentro y fuera de la web. Aplicaciones a la medida de nuestros clientes y otras gratuitas y de código abierto para contribuir con la comunidad en Internet.
      </p>
    </div>
    <div class="clear"></div>
    <div class="showcase-sub-container">
      
      <div class="area-title">Web <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_01.jpg" title="Bibliomula"><span class="roll"></span>
          <img src="/assets/portfolio/thumbs/portfolio_small_01.jpg" alt="image_01" /></a>                         
        </div>
        <span><a href="http://bibliomula.com" target="_new">Bibliomula</a></span>
        <p>
          Revista de literatura
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_02.jpg" title="The Counterpoint"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_02.jpg" alt="image_02" /></a>             
        </div>
        <span><a href="http://the-counterpoint.com" target="_new">The Counterpoint</a></span>
        <p>
          Hecho en <a href="http://hasmanydevelopers.com/" target="_new">has_many :developers</a>     
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_03.jpg" title="Universidad de Los Andes"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_03.jpg" alt="image_03" /></a>             
        </div>
        <span><a href="http://www.ula.ve/" target="_new">Universidad de Los Andes</a></span>
        <p>
          Hecho en <a href="http://www.ula.ve/" target="_new">Universidad de Los Andes</a>           
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_04.jpg" title="Parenting Bridge"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_04.jpg" alt="image_04" /></a>             
        </div>
        <span><a href="http://parentingbridge.com" target="_new">Parenting Bridge</a></span>
        <p>
          Hecho en <a href="http://hasmanydevelopers.com/" target="_new">has_many :developers</a>     
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_05.jpg" title="Mil1 (Mil y un libros)"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_05.jpg" alt="image_05" /></a>             
        </div>
        <span><a href="http://parentingbridge.com" target="_new">Mil1 (Mil y un libros)</a></span>
        <p>
          Calculo de libros en lo que resta de vida             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_06.png" title="Gema - Crawler of CIA Factbook"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_06.png" alt="image_06" /></a>    
        </div>
        <span><a href="https://github.com/p1nox/the_country_identity">the_country_identity</a></span>
        <p>
          Gema - Crawler of CIA Factbook
        </p>
      </div>

      <div class="area-title">Diseño <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_10.jpg" title="Lorem Ipsum"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_10.jpg" alt="image_07" /></a>             
        </div>
        <span>Setta estere doloremque noi</span>
        <p>
          App / Mobile
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_11.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_11.jpg" alt="image_08" /></a>             
        </div>
        <span>Lorem estere doloremque sei</span>
        <p>
          Print / Marketing             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_12.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_12.jpg" alt="image_09" /></a>             
        </div>
        <span>Donec estere doloremque lorem</span>
        <p>
          Art / Print / Marketing             
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_13.jpg" title="Lorem Ipsum"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_13.jpg" alt="image_07" /></a>             
        </div>
        <span>Setta estere doloremque noi</span>
        <p>
          App / Mobile
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_14.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_14.jpg" alt="image_08" /></a>             
        </div>
        <span>Lorem estere doloremque sei</span>
        <p>
          Print / Marketing             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_15.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_15.jpg" alt="image_09" /></a>             
        </div>
        <span>Donec estere doloremque lorem</span>
        <p>
          Art / Print / Marketing             
        </p>
      </div>

      <div class="area-title">Ebooks <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_07.jpg" title="Lorem Ipsum"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_07.jpg" alt="image_07" /></a>             
        </div>
        <span>Setta estere doloremque noi</span>
        <p>
          App / Mobile
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_08.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_08.jpg" alt="image_08" /></a>             
        </div>
        <span>Lorem estere doloremque sei</span>
        <p>
          Print / Marketing             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_09.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_09.jpg" alt="image_09" /></a>             
        </div>
        <span>Donec estere doloremque lorem</span>
        <p>
          Art / Print / Marketing             
        </p>
      </div>

    </div>  
  </div>    

</div>
