<div class="section showcase" id="showcase">

  <div class="container">
    <div class="arrow 03">
      <img src="/assets/arrow/arrow_03.png" alt="arrow_03" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        vitrina <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Se sirve sin hielo, en una copa de cóctel enfriada [3/5]        
      </div>
      <br/>      
      <%= tweet_anchor("Martini clásico: Se sirve sin hielo, en una copa de cóctel enfriada [3/5]") %>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Nuestras creaciones, trabajos, ideas y herramientas...
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Historial de nuestros casos resueltos dentro y fuera de la web. Algunas aplicaciones a la medida de nuestros clientes, y otras de código abierto para contribuir con la comunidad en Internet.
      </p>
    </div>
    <div class="clear"></div>
    <div class="showcase-sub-container">
      
      <div class="area-title">Web <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_01.jpg" title="Bibliomula - Revista de literatura"><span class="roll"></span>
          <img src="/assets/portfolio/thumbs/portfolio_small_01.jpg" alt="image_01" /></a>                         
        </div>
        <span><a href="http://bibliomula.com" target="_new">Bibliomula</a></span>
        <p>
          Revista de literatura
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_02.jpg" title="The Counterpoint - Sistema web de discuciones inteligente"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_02.jpg" alt="image_02" /></a>            
        </div>
        <span><a href="http://the-counterpoint.com" target="_new">The Counterpoint</a></span>
        <p>
          Hecho en <a href="http://hasmanydevelopers.com/" target="_new">has_many :developers</a>     
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_03.jpg" title="Portal web de la Universidad de Los Andes"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_03.jpg" alt="image_03" /></a>             
        </div>
        <span><a href="http://www.ula.ve/" target="_new">Universidad de Los Andes</a></span>
        <p>
          Hecho en <a href="http://www.ula.ve/" target="_new">Universidad de Los Andes</a>           
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_04.jpg" title="Parenting Bridge - Aplicacion web para gestionar la custodia de hijos de padres divorciados"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_04.jpg" alt="image_04" /></a>             
        </div>
        <span><a href="http://parentingbridge.com" target="_new">Parenting Bridge</a></span>
        <p>
          Hecho en <a href="http://hasmanydevelopers.com/" target="_new">has_many :developers</a>     
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_05.jpg" title="Mil1 - Calculo de libros en lo que resta de vida"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_05.jpg" alt="image_05" /></a>             
        </div>
        <span><a href="http://parentingbridge.com" target="_new">Mil1 (Mil y un libros)</a></span>
        <p>
          Calculo de libros en lo que resta de vida             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_06.png" title="Gema RoR the_country_identity - Crawler del CIA Factbook"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_06.png" alt="image_06" /></a>    
        </div>
        <span><a href="https://github.com/p1nox/the_country_identity">the_country_identity</a></span>
        <p>
          Gema RoR - Crawler del CIA Factbook
        </p>
      </div>

      <div class="area-title">Diseño <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_10.jpg" title="Violencia en el noviazgo - Campaña para la prevención de la violencia en el noviazgo"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_10.jpg" alt="image_10" /></a>             
        </div>
        <span>Violencia en el noviazgo</span>
        <p>
          Campaña para la prevención de la...
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_11.jpg" title="Tarjetas postales desde una perspectiva "pintoresca""><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_11.jpg" alt="image_11" /></a>             
        </div>
        <span>Souvenir Venezolano</span>
        <p>
          Tarjetas postales desde una...
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_12.jpg" title="Rediseño Editorial para una doble página"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_12.jpg" alt="image_12" /></a>             
        </div>
        <span>Editorial revista Watt</span>
        <p>
          Rediseño Editorial para una...
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_13.jpg" title="Logotipo para Café Origami, Bogotá-Colombia"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_13.jpg" alt="image_13" /></a>             
        </div>
        <span>Logotipo Café Origami</span>
        <p>
          Logotipo para Café Origami...
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_14.jpg" title="Background ilustrado para el site de Centro Ático, Universidad Javeriana, Bogotá-Colombia"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_14.jpg" alt="image_14" /></a>             
        </div>
        <span>Background Universidad Javeriana</span>
        <p>
          Background ilustrado para el...
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_15.jpg" title="Logotipo para la agencia de turismo responsable Endógeno, Mérida Venezuela"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_15.jpg" alt="image_15" /></a>             
        </div>
        <span>Logotipo Endógeno TR</span>
        <p>
          Logotipo para la agencia de...
        </p>
      </div>

      <div class="area-title">Ebooks <p>+ + + + + + + + + + + + + + + + + + + + +</p></div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_07.jpg" title="Poesía contemporánea de Japón"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_07.jpg" alt="image_07" /></a>             
        </div>
        <span>Antología japonesa</span>
        <p>
          Reseña/Descarga en <a href="http://bibliomula.org/index.php/posgutenberg/el-evangelio-del-ebook/50-bibliomula-org-presenta-antologia-poesia-contemporanea-de-japon.html">Bibliomula</a>
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_08.jpg" title="50 años de narrativa venezolana o manual para no perderse en Caracas"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_08.jpg" alt="image_08" /></a>             
        </div>
        <span>Narrativa venezolana</span>
        <p>
          Reseña/Descarga en <a href="http://bibliomula.org/index.php/archivo/34-ediciones-anterioes/3ra-edicion/94-mayo-2012-50-anos-de-narrativa-venezolana-o-manual-para-no-perderse-en-caracas.html">Bibliomula</a>
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_09.jpg" title="Por qué las librerías: Porque a veces los libros te encuentran a ti y no tu a ellos"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_09.jpg" alt="image_09" /></a>             
        </div>
        <span>Por qué las librerías</span>
        <p>
          Reseña/Descarga en <a href="http://bibliomula.org/index.php/archivo/37-ediciones-anterioes/4ta-edicion/120-junio-2012-por-que-las-librerias.html">Bibliomula</a>
        </p>
      </div>

    </div>  
  </div>    

</div>
