<div class="section showcase" id="showcase">

  <div class="container">
    <div class="arrow 03">
      <img src="/assets/arrow/arrow_03.png" alt="arrow_03" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        showcase <span>¿Ya se termino el café? Aqui tiene nuestro portafolio ¡digo! nuestro menu...</span>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Nuestras creaciones, trabajos, ideas y herramientas...
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Unas hechas a medida de los requerimientos de nuestros clientes, otras solo por el placer de hacerlas, y también otras hasta gratuitas y abiertas para contribuir con la comunidad en Internet.
      </p>
    </div>
    <div class="clear"></div>
    <div class="showcase-sub-container">
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_01.jpg" title="Bibliomula"><span class="roll"></span>
          <img src="/assets/portfolio/thumbs/portfolio_small_01.jpg" alt="image_01" /></a>                         
        </div>
        <span><a href="http://bibliomula.com/" target="_new">Bibliomula</a></span>
        <p>
          Revista de literatura
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_02.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_02.jpg" alt="image_02" /></a>             
        </div>
        <span>Webus estere doloremque lorem</span>
        <p>
          Website / Print             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_03.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_03.jpg" alt="image_03" /></a>             
        </div>
        <span>Sone estere doloremque nunc</span>
        <p>
          Marketing / Photography           
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_04.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_04.jpg" alt="image_04" /></a>             
        </div>
        <span>Agenti estere doloremque amet</span>
        <p>
          Print / Corporate ID              
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_05.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_05.jpg" alt="image_05" /></a>             
        </div>
        <span>Terre estere doloremque sei perse</span>
        <p>
          Website / Print / Marketing             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_06.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_06.jpg" alt="image_06" /></a>             
        </div>
        <span>Nulla estere doloremque sense</span>
        <p>
          Marketing / Commercial
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_07.jpg" title="Lorem Ipsum"><span class="roll"></span>
            <img src="/assets/portfolio/thumbs/portfolio_small_07.jpg" alt="image_07" /></a>             
        </div>
        <span>Setta estere doloremque noi</span>
        <p>
          App / Mobile
        </p>
      </div>
      <div class="pic-frame rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_08.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_08.jpg" alt="image_08" /></a>             
        </div>
        <span>Lorem estere doloremque sei</span>
        <p>
          Print / Marketing             
        </p>
      </div>
      <div class="pic-frame nomargin rounded">
        <div class="pic">
          <a href="/assets/portfolio/originals/portfolio_large_09.jpg" title="Lorem Ipsum"><span class="roll"></span><img src="/assets/portfolio/thumbs/portfolio_small_09.jpg" alt="image_09" /></a>             
        </div>
        <span>Donec estere doloremque lorem</span>
        <p>
          Art / Print / Marketing             
        </p>
      </div>
    </div>  
  </div>    

</div>
