<div class="section our-team" id="our-team">

  <div class="container">
    <div class="arrow 04">
      <img src="/assets/arrow/arrow_04.png" alt="arrow_04" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        alphadeville <span>¿Quienes hicieron el café? Conózcanos!</span>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Tres áreas de trabajo, y tres cafeteros.
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Cada uno experto en su campo, todos creativos, todos proactivos, y claro, trabajando en equipo.
      </p>
    </div>
    <div class="clear"></div>
    <div class="column-300 m-top-55 m-right-40">
      <img src="/assets/team/team_01.png" class="m-bottom-30" alt="team_01" />
      <div class="team-member-name  m-bottom-10">
            jane johnson doe
      </div>
      <div class="team-member-position">
        lead designer
      </div>
      <div class="socio">
        <ul>
          <li><a href="#" target="_blank" class="socio_twitter"></a></li>
          <li><a href="#" target="_blank" class="socio_facebook"></a></li>
          <li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <p>
         Lorem ipsum doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt.
      </p>
    </div>
    <div class="column-300 m-top-55 m-right-40">
      <img src="/assets/team/team_02.png" class="m-bottom-30" alt="team_02" />
      <div class="team-member-name  m-bottom-10">
            anna jones doe
      </div>
      <div class="team-member-position">
        ceo
      </div>
      <div class="socio">
        <ul>
          <li><a href="#" target="_blank" class="socio_twitter"></a></li>
          <li><a href="#" target="_blank" class="socio_facebook"></a></li>
          <li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <p>
         Terre estere doloremique sei laudantium, totames remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt.
      </p>
    </div>
    <div class="column-300 m-top-55">
      <img src="/assets/team/team_03.png" class="m-bottom-30" alt="team_03" />
      <div class="team-member-name  m-bottom-10">
            marry jones doe
      </div>
      <div class="team-member-position">
        developer
      </div>
      <div class="socio">
        <ul>
          <li><a href="#" target="_blank" class="socio_twitter"></a></li>
          <li><a href="#" target="_blank" class="socio_facebook"></a></li>
          <li class="last"><a href="#" target="_blank" class="socio_linkedin"></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <p>
         Doloremique sei laudantium totames es remeseo aperiam, eaque ipsa quae ab illo inventore veritatis rete et quasi architecto beataes vitae dicta sunt terre estere.
      </p>
    </div>
  </div>       
  
</div>