<div class="section our-team" id="our-team">

  <div class="container">
    <div class="arrow 04">
      <img src="/assets/arrow/arrow_04.png" alt="arrow_04" />
    </div>
    <div class="subheader">
      <div class="subheader-icon"></div>
      <div class="subheader-text">
        alphadeville <span></span>
      </div>
      <div class="subheader-text-recipe pull-right">
        Se adorna con una aceituna [4/5]        
      </div>
      <br/>
      <div class="tweet-btn pull-right">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="alphadeville" data-text="Martini clásico: Se adorna con una aceituna [4/5]" data-lang="en" data-count="none">Tweet</a>
      </div>
      <div class="subheader-separator"></div>
    </div> 
    <div class="column-640 m-top-50">
      <div class="summary">
        Tres áreas de trabajo, y tres cafeteros.
      </div>
    </div>
    <div class="column-300 m-left-40 m-top-50">
      <p>
        Cada uno experto en su campo, todos creativos, todos proactivos, y claro, trabajando en equipo.
      </p>
    </div>
    <div class="clear"></div>
    <div class="column-300 m-top-55 m-right-40">
      <img src="/assets/team/team_01.png" class="m-bottom-30" alt="team_01" />
      <div class="team-member-name  m-bottom-10">
        Jorge Castrillon
      </div>
      <div class="team-member-position">
        CDO
      </div>
      <div class="socio">
        <ul>
          <li><a href="https://twitter.com/castrillonh" target="_blank" class="socio_twitter" title="@castrillonh"></a></li>
          <li><a href="http://www.behance.net/castrillonh" target="_blank" class="socio_behance" title="Jorge Castrillón on Behace"></a></li>          
        </ul>
        <div class="clear"></div>
      </div>
      <p>
         Diseñador gráfico <a href="http://www.ula.ve">Universidad de Los Andes</a>, colaborador en <a href="http://www.mixelart.com" target="_blanck">Mixelart</a>, creador de <a href="https://www.facebook.com/Endogeno" target="_blanck">Endógeno souvenirs</a> y <a href="https://www.facebook.com/EndogenoTR" target="_blanck">Endógeno TR</a>.
      </p>
    </div>
    <div class="column-300 m-top-55 m-right-40">
      <img src="/assets/team/team_02.png" class="m-bottom-30" alt="team_02" />
      <div class="team-member-name  m-bottom-10">
        Raul Pino
      </div>
      <div class="team-member-position">
        CTO & CO-FUNDADOR
      </div>
      <div class="socio">
        <ul>
          <li><a href="https://twitter.com/p1nox" target="_blank" class="socio_twitter" title="@p1nox"></a></li>
          <li class="last"><a href="https://github.com/p1nox" target="_blank" class="socio_github" title="Raul Pino Github profile"></a></li>          
        </ul>
        <div class="clear"></div>
      </div>
      <p>
        Ingeniero en Informatica <a href="http://www.ucla.edu.ve/" target="_blanck">UCLA</a>, Senior Developer <a href="http://hasmanydevelopers.com/" target="_blanck">has_manys :developers</a>, Android Developer <a href="http://bibliomula.org" target="_blanck">bibliomula.org</a>, skydive wannabe y AI/Data <3.
      </p>
    </div>
    <div class="column-300 m-top-55">
      <img src="/assets/team/team_03.png" class="m-bottom-30" alt="team_03" />
      <div class="team-member-name  m-bottom-10">
        Jose Pino
      </div>
      <div class="team-member-position">
        COO & CO-FUNDADOR
      </div>
      <div class="socio">
        <ul>
          <li><a href="https://twitter.com/bibliomula" target="_blank" class="socio_twitter" title="@bibliomula"></a></li>          
          <li class="last"><a href="https://twitter.com/bobbylechuga" target="_blank" class="socio_twitter" title="@bobbylechuga"></a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <p>
         Webmaster <a href="http://www.ula.ve" target="_blanck">Universidad de Los Andes</a>, editor de <a href="http://bibliomula.org" target="_blanck">bibliomula.org</a>, bibliómano y creador de Ebooks.
      </p>
    </div>
  </div>       
  
</div>