<div id="app-wrap">

  <div id="mask"></div>
  <table class="doc-loader">
    <tr>
      <td>
        <img src="/assets/doc_loader/loading.gif" alt="loading..." />
      </td>
    </tr>
  </table> 

</div>
