/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* COMMON */
.make-word-breakable {
  word-wrap: break-word;
}

.uppercase {
  text-transform:uppercase;
}

b {
  font-weight: bold !important;
}
i {
  font-style: italic !important;
}

.center-text {  
  text-align: center;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pull-down {
  vertical-align: bottom !important;
}
.pull-up {
  vertical-align: top !important;
}
.pull-middle {
  vertical-align: middle !important;
}

.relax {
  clear: both;
}

/* RESET */
.about {
  height: 975px !important;
}

.services {
  height: 1045px !important;
}
.service-title {
  font-weight: bold;
}
.services-list p {
  text-align:justify;  
}

.showcase-sub-container .pic-frame a {
  color: #273C66;
}
.showcase-sub-container .pic-frame a:hover {
  color: #58ACFA;
  text-decoration: underline;
}
.showcase-sub-container {
  padding-top: 30px !important;
}
