/* RESET alpha_theme */
.logo {
  width: 554px;
  height: 290px;
  margin: auto;
  margin-top: -50px;  
}
.logo img {
  width: 554px;
  height: 290px;
}

.subheader-text-recipe {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}
.tweet-btn {
  margin-right: -20px;
}
