/* RESET alpha_theme */
.logo {
  width: 554px;
  height: 290px;
  margin: auto;
  margin-top: -50px;  
}
.logo img {
  width: 554px;
  height: 290px;
}

.subheader-text-recipe {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
}

#showcase .area-title {
  color: #8C9FC5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  font-style: italic;
  margin-bottom: 10px;
}
#showcase .area-title p {
  display: inline;
  font-size: 20px;
}
